---
---

@import 'media-queries';

@import 'reset';

@import 'base';

@import 'layout';

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.muted {
  color: rgb(153, 153, 153);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-left {
  display: inline;
  float: left;
}

.tight {
  line-height: 16px;
}

/* debug
.container_12 {
    border: 1px solid rgb(153, 153, 153);
}

.grid_1, .grid_2, .grid_6, .grid_3 {
    border: 1px dashed rgb(255, 255, 255);
}*/

