html {
  font-size: 100%;
}

body {
  color: rgb(255, 255, 255);
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  /* place the background on the body */
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-color: rgb(0, 102, 153); /* blue */
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

a,
a:focus {
  color: rgb(255, 204, 0); /* orange */
}

a:hover,
a:active {
  color: rgb(255, 153, 0); /* darkish orange */
}

a:visited {
  color: rgb(255, 255, 153); /* light yellow */
}

hr {
  border: 0 solid rgb(204, 204, 204);
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal; line-height: 1; color: #999999;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

dd {
  margin-bottom: 8px;
  margin-left: 20px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

table {
  width: 90%;
  margin-right: 10%;
  margin-left: 8%;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.muted {
  color: rgb(153, 153, 153);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-left {
  display: inline;
  float: left;
}

.tight {
  line-height: 16px;
}

ul.unstyled,
ol.unstyled,
ul.unstyled > li,
ol.unstyled > li {
  margin-left: 0;
  list-style: none;
}

ul.expand,
ol.expand {
    margin-bottom: 20px;
}

ul.expand > li,
ol.expand > li {
  padding-bottom: 10px;
}

.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

.nav > li {
  margin-left: 0;
  font-size: 95%;
}

.nav > li > a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 3px 10px;
  text-decoration: none;
}

.nav > li.active,
.nav > li.active a,
.nav > li > a:hover {
  color: rgb(0, 68, 102); /* darker blue than body background */
  background-color: rgb(255, 153, 0); /* orange */
}

.subhead {
  margin-bottom: 0;
  padding-top: 17px; /* bump the text down from the top of the window */
  font-size: 18px;
  font-weight: 200;
}

#header {
  margin-left: 400px; /* 400 px is the logo width */
  border-bottom: 2px solid rgb(255, 255, 255);
  height: 79px; /* aligns the bottom border with the logo */
  background-color: rgb(148, 191, 0); /* green */
}

/* flush-left the containers */
.container_12 {
  margin-left: 0;
  margin-right: 0;

}

ul.social {
  text-align: center;
  margin-left: 0;
  list-style: none;
}

ul.social > li {
  margin-top: -4px;
  margin-bottom: 3px;
}

ul.social > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

ul.sponsors {
  text-align: left;
  margin-left: 0;
  list-style: none;
}

ul.sponsors > li {
    margin-left: 0;
    margin-bottom: 16px;
}

ul.sponsors img {
	max-width: 100%;
	height: auto;
}

#nav {
  padding-top: 140px; /* bump down content, very low for logo */
}

#main {
  padding-top: 20px; /* bump down content */
  /*padding-right: 25px; /* create some space from the border 
  border-right: 1px solid rgb(255, 255, 255);*/
}

#news {
  padding-top: 12px; /* bump down content */
  padding-left: 15px; /* create some space from the border */
  border-left: 1px solid rgb(255, 255, 255);
}

/* debug
.container_12 {
    border: 1px solid rgb(153, 153, 153);
}

.grid_1, .grid_2, .grid_6, .grid_3 {
    border: 1px dashed rgb(255, 255, 255);
}*/

