$max-page-width: 1440px;

$medium-screen-size: 800px;
$large-screen-size: 1080px;

$bg-blue: #0090DE;
$bg-green: #0EAB39;
$bg-soft: #E7F2F4;
$bg-soft-darker: #bdd8e7;
$blue: #0DA0FF;
$dark-gray: #888888;

$disabled: #D1D1D1;

$link: $blue;
$link-hover: #0086CC;
$link-active: #0EAB39;

$main-horizontal-padding: 40px;
$main-vertical-padding: 40px;

$main-horizontal-padding-small: 20px;
$main-vertical-padding-small: 25px;


@font-face {
    font-family: Outfit;
    src: url('../../css/fonts/Outfit-VariableFont_wght.ttf');
}

html {
    font-size: 18px;
    line-height: 1.5;

    @include smaller-than($medium-screen-size) {
        font-size: 16px;
        line-height: 22px;
    }
}

body {
    color: black;
    font-family: Outfit, Arial, Geneva, Helvetica, sans-serif;
    /* place the background on the body */
    background-color: white;
    /* blue */
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

cite {
    font-style: normal;
}

a,
a:focus,
a:visited {
    color: $blue; 
}

a:hover {
    color: $link-hover;
}

a:active {
    color: $link-active;
}

hr {
    border: 0 solid rgb(204, 204, 204);
    border-top-width: 1px;
    clear: both;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.25em 0 0.5em;
    &:first-child {
        margin-top: 0;
    }
    font-weight: 500;
    line-height: 120%;
    word-spacing: 0.05em;
    text-transform: uppercase;
    text-rendering: optimizelegibility;

    &.thin {
        font-weight: 100;
    }
}

@each $h, $fs in (h1: 36px, h2: 30px, h3: 26px, h4: 22px, h5: 18px, h6: 16px) {
    #{$h} {
        font-size: $fs;
    }
}
@include smaller-than($large-screen-size) {
    @each $h, $fs in (h1: 28px, h2: 25px, h3: 22px, h4: 20px, h5: 18px, h6: 16px) {
        #{$h} {
            font-size: $fs;
        }
    }
}

h1 {
    word-spacing: 0.15em;
}

h2 {
    word-spacing: 0.1em;
}


ol {
    list-style: decimal;
}

ul {
    //list-style: disc;
    list-style: '\2013\2002';

    &.three-columns {
        columns: 3;
        @include smaller-than($medium-screen-size) {
            columns: 1;
        }

        column-fill: balance;
        list-style: none;

        li {
            break-inside: avoid;
            margin: 0;
            margin-top: 1.5em;

            @include smaller-than($large-screen-size) {
                margin-top: 0.5em;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

li {
    margin-left: 30px;
}

dt {
    font-size: 140%;
    margin-top: 28px;
    margin-bottom: 3px;
}

dd {
    margin-left: 20px;
    color: #ccccdd;
    p {
        color: #eee;
        text-indent: 1em;
        margin-bottom: 0.5em;
    }
}

dl {
    margin-left: 20px;
}

table {
    display: block table;
}

blockquote {
    padding-left: 1em;
    border-left: 2px solid $bg-soft-darker;
}

input, select {
    font-family: Outfit, Arial, Geneva, Helvetica, sans-serif;
    font-size: inherit;
}

input[type=button], input[type=submit] {
    background-color: $link !important;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    font-size: 100% !important;
    height: 2em !important;
    padding: 0 1.25em !important;
    text-align: center;
    width: fit-content;

    &:hover {
        background-color: $link-hover !important;
    }
    &:active {
        background-color: $link-active !important;
    }
    &[disabled] {
        background-color: $disabled;
    }
}

.clearfix {
    overflow: auto;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

ul.unstyled,
ol.unstyled,
ul.unstyled>li,
ol.unstyled>li {
    margin-left: 0;
    list-style: none;
}

ul.expand,
ol.expand {
    margin-bottom: 2em;
}

ul.expand>li,
ol.expand>li {
    &:not(:last-child) {
        padding-bottom: 1em;
    }
}

article {
    margin-bottom: 4em;
}

.icon {
    font-size: inherit !important;
    height: 1em;
}


.flex {
    display: flex;

    flex-direction: row;

    @include smaller-than($medium-screen-size) {
        flex-direction: column;
    }
}

.one-third {
    flex: 1 1 33.3%; 
    max-width: 33.3%;

    @include bigger-than($medium-screen-size) {
        &:not(:last-child) {
            padding-right: 1rem;
        }
    }

    @include smaller-than($medium-screen-size) {
        flex: 100%;
        max-width: 100%;
    }
}

.two-thirds {
    flex: 2 1 66.6%; 
    max-width: 66.6%;
    @include smaller-than($medium-screen-size) {
        max-width: 100%;
    }
}

.highlight-bg {
    background-color: $bg-soft;
    padding: $main-vertical-padding 0;
    @include smaller-than($large-screen-size) {
        padding: $main-vertical-padding-small 0;
    }
}


/* Youtube Videos */

.youtube-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 20px auto 20px auto;
}

.youtube-embed iframe,
.youtube-embed object,
.youtube-embed embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@include smaller-than($medium-screen-size) {
    img {
        max-width: 100%;
    }
}
