div.program {
	display: block;
	width: 100%;
	max-width: 100%;
	border-bottom: 0px solid white;
	margin: 10px 10px 30px 10px;

	table.times {
		width: 100%;
		display: block;
		padding: 0px 5px 0px 0px;
		margin: 0px 10px 0px 10px;

		td.time {
			vertical-align: center;
			font-weight: bold;
			table-layout: fixed;
			font-size: 120%;
			width: 8em;
			text-align: right;
			padding: 2px 10px 10px 0px;
			white-space: nowrap;
		}

		td.item {
			vertical-align: center;
			font-weight: normal;
			font-size: 100%;
			width: auto;
			text-align: left;
			padding: 2px 10px 10px 0px;
		}
	}

	h4.program-day {
		display: block;
		border-bottom: 0px solid white;
		padding: 10px 10px 10px 5px;
		margin: 0px 0px 10px 0px;
		font-size: 150%;
		font-weight: bold;
		text-align: left;
		background: #007fbf;
	}

	.time[title] {
		text-decoration: underline dotted 1px;
		cursor: help;
	}
}
