---
layout: default2023
title: Posters
posters_definition:
  - title: the title for the poster
    author: authors of the poster
    links: # List of links for this poster
      - url: Url to the file/website
        link: Title/text of the url
      - url: ./posters/poster.pdf
        link: poster
  - title: Real-time render for multi-resolution model based on dynamic subdivision
    author: Rui Li

demos_definition:
  - title: the title of the paper being demoed
    author: List of authors for this demo

posters:
  - title: "Real world appearance visualization using a multi-screen projection system and pre-filtered environment map"
    author: Daiki Ichihara, Hiroyuki Kubo, Takashi Shibata
    links:
      - url: https://qlab2022.github.io/pubdata/2023I3DIchihara/paper.pdf
        link: 2-page paper
  - title: "A lightweight 3D viewer: real-time rendering of multi-scale 3D surface models"
    author: Rui Li
  - title: "HoloXR: A Cutting-Edge Tool for Advancing Education Research"
    author: Ashton Corsello, Qiang Guan, Karl Kosko
  - title: "Deep Reinforcement Learning-based Continuous Adaptive Radiance Field Sampling"
    author: Jaeyoon Kim, Sung-Eui Yoon
---

<h3>Posters</h3>

<p>The following posters will presented in the posters session on <a href="./program.html#program-day-0">Wednesday, 3 of May</a>.</p>

<dl>{% for poster in page.posters %}
    <dt><b>{{ poster.title | escape_once }}</b></dt>
    <dd>
        {{ poster.author | escape_once }}
        {% if poster.links -%}
            <br>
            {% for link in poster.links -%}
                <a href="{{ link.url }}">{{ link.link }}</a>{% if forloop.last == false %},{% endif %}
            {% endfor -%}
        {% endif %}
    </dd>
{% endfor -%}
</dl>

<!--
<h3>Demos</h3>

<p>Additionally, some paper authors will give live demos of their techniques during the virtual posters session on <a href="./program.html">Wednesday, 4 May</a>. These demos will not be streamed to Youtube, so be sure to come to the session if you are interested. Here is a list of these papers:</p>

<dl>{% for demo in page.demos %}
    <dt><b>{{ demo.title | escape_once }}</b></dt>
    <dd>
        {{ demo.author | escape_once }}
    </dd>
{% endfor -%}
</dl>


-->

<p>All questions about posters and poster presentations should be directed to I3D 2023 Posters Chair <a href="committee.html">Markus Billeter</a>.</p>
