---
layout: default2024
mailing_list_form: true

sponsors_definition:
  - level: Title of the level of sponsorship
    size: Width of the images that will be shown in this level
    columns: Number of columns in the 
    members: # List of members
      - name: Name of the company (Only used in the "alt" of the img tag)
        image: Image to show for this sponsor
        link: url to link to for this sponsor

sponsors:
  - level: Platinum Sponsors
    size: platinum
    members:

  - level: Gold Sponsors
    size: gold
    members:

  - level: Silver Sponsors
    size: silver
    members:

---

<div id="index-highlight" class="flex">
    <div class="one-third">
        <h1>2024 ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games</h1>
        <h1 class="thin">Philadelphia, PA, USA<br />8-10 May 2024</h1>
    </div>
    <div class="two-thirds">
        <div class="youtube-embed">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NL7KnFZ8SgQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
        <h3 class="thin">Last Year's Papers Fast Forward</h3>
    </div>
</div>

<div id="important-dates" class="highlight-bg">
    <h2>Important Dates</h2>
    <ul class="three-columns">
        <li>Conference:<span class="date">8-10 May 2024</span></li>
        <li class="past">Paper submission deadline:<span class="date">5 January 2024</span></li>
        <li>Paper notifications:<span class="date">3 March 2024</span></li>
        <li>Revision deadline:<span class="date">29 March 2024</span></li>
        <li>Camera-ready deadline:<span class="date">19 April 2024</span></li>	
        <li>Poster submission deadline:<span class="date">TBD</span></li>
        <!--li>Extended Poster submission deadline:<span class="date">30 March, 2023</span></li>
        <li>Poster notifications:<span class="date">3 April, 2023</span></li>
        <li>Early registration deadline:<span class="date">5 April, 2023</span></li-->
    </ul>
</div>

<section class="flex">
    <div class="one-third">
        <h3>
            I3D is the leading conference for real time 3D computer graphics and human interaction
        </h3>
    </div>

    <div class="two-thirds">
        <p>
            2024 is I3D's 38th year since the <a href="http://dl.acm.org/citation.cfm?id=319120&picked=prox&CFID=734542800&CFTOKEN=48967429">inaugural workshop in 1986</a>,
            and the 28th conference (I3D occurred roughly biennially until 2005).
        </p>
        <p>
            More details on <a href="conference.html">prior conferences are available here</a>.
        </p>
    </div>
</section>

{% include_relative _mailing-list-form.html %}

<div id="sponsors" class="flex">
    <div class="one-third">
        <h2>Sponsors</h2>
        <p>
            The ACM SIGGRAPH Symposium on Interactive 3D Graphics and Games
            2024 is a highly-visible, leading-edge conference for techniques that
            combine 3D computer graphics with human interaction.
        </p>
        <p>
            More about corporate sponsors <a href="sponsors.html">here</a>
        </p>
    </div>

    <div class="two-thirds">
        {% for level in page.sponsors -%}
        {% if level.members -%}
        <hr>
        <h3>{{ level.level }}</h3>
        <ul class="sponsors-list sponsors-{{ level.size }}">
        {% for sponsor in level.members -%}
            <li>
                <a href="{{ sponsor.link }}" target="_blank">
                    <img src="img/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}">
                </a>
            </li>
        {% endfor -%}
        </ul>
        {% endif -%}
        {% endfor -%}
    </div>
</div>

