      </div> <!-- #main -->

      <!-- grid_3 is a 3-wide cell -->
      <div id="news" class="grid_3">
        <h4>Important Dates</h4>
        <ul><small>
<!--
          <li>Paper submissions open:<br>
           day-of-week, date, 2017</li>
-->
 <li>Paper Submission Deadline:<br/>
           1 December 2017</li>
<li>Paper Notifications:<br/> 12 February 2018 </li>		
          <li>Camera-ready version of papers:<br>
           26 February 2018</li>
          <li>Poster and demo submissions:<br>
           26 February 2018</li>
          <li>Poster and demo notification:<br>
           12 March 2018</li>
          <li>Hotel booking deadline:<br>
           TBD</li>
          <li>Early registration deadline:<br>
           TBD 2018</li>
          <li><b>Conference</b>:<br>
          <b>TBD May 2018</b></li>
        </small></ul> 
<!--
        <p><br><b>Unless otherwise specified, all deadlines are at 11:59pm PST.</b></p>  
-->

<!--
       <h4>Registration and Hotel Bookings</h4>

       <ul class="unstyled">

          <li><a href="https://www.regonline.com/i3d2018">http://www.regonline.com/i3d2018</a></li>

         </ul> 
-->
<!--
        <h4>Updates</h4>
        <ul><small>
        <li> 
		January 11, 2017 - Online hotel bookings and conference registration are available</li>
        </small></ul>
-->
        <h4><a href = "contact.html#mailing_list">Join our Mailing List</a></h4>
		
        <h4>Organizations interested in sponsoring I3D 2018 please contact the general chairs: <a  href="mailto:general@i3dsymposium.org">general@i3dsymposium.org</a></h4>
		

<!--        <h4>Sponsored by:</h4>
        <a href="http://www.siggraph.org"><img src="img/sponsor_acm_11.png"></a>
-->		
      </div> <!-- #news -->
    </div> <!-- .container -->


    <!-- start a new container for the footer -->
    <div id="footer" class="container_12">
    <div class="grid_6 prefix_2"> <!-- prefix_2 offsets the cell -->
        <p class="muted"><small>
          <a href="http://www.i3dsymposium.org">HOME</a> | &copy; 2005-2017
          Symposium on Interactive 3D Graphics and Games
        </small></p>
      </div>
    </div>

