      </div> <!-- #main -->

      <!-- grid_3 is a 3-wide cell -->
      <div id="news" class="grid_3">
 
        <h4>Sponsored by:</h4>
        <a href="http://www.siggraph.org"><img src="img/sponsor_acm_11.png"></a>
	
      </div> <!-- #news -->
    </div> <!-- .container -->


    <!-- start a new container for the footer -->
    <div id="footer" class="container_12">
    <div class="grid_6 prefix_2"> <!-- prefix_2 offsets the cell -->
        <p class="muted"><small>
          <a href="http://www.i3dsymposium.org">HOME</a> | &copy; 2018
          Symposium on Interactive 3D Graphics and Games
        </small></p>
      </div>
    </div>

