<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> {{ page.title }}{% if page.title %} | {% endif %} I3D 2020</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  
  <meta name="author" content="I3D Publicity Chair (general@i3dsymposium.org)">

  <link href="css/reset.css" rel="stylesheet" media="screen">
  <!-- use a fluid, instead of a fixed layout
    <link href="css/960.css" rel="stylesheet" media="screen">
  -->
  <link href="css/960-fluid.css" rel="stylesheet" media="screen">
  <link href="css/i3d.css" rel="stylesheet" media="screen">
  <link href="css/iframes.css" rel="stylesheet" media="screen">

  <!-- comment out viewport/responsive.css to use a fixed layout -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/responsive.css" rel="stylesheet" media="screen">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
      $(function () {
        // Set the active button based on the current url.
        var filename = window.location.pathname.split('/').reverse()[0];
        $('a[href$="' + filename + '"]').parent().addClass('active');
        // If there are no objects with the active class,
        if ($('.active').length == 0) {
          // assume the index is the current url.
          $('a[href$="index.html"]').parent().addClass('active');
        }
      });
  </script>
</head>
