    <!-- put the header outside of the grid container -->
    <div id="header">
      <p class="text-left float-left subhead tight"><small>ACM SIGGRAPH Symposium on<br>
      Interactive 3D Graphics and Games<br>
      Montreal, Quebec, Canada: May 2019</small></p>
    </div> <!-- #header -->
    <div class="clearfix"></div>


    <!-- container_12 is a 12-cell grid -->
    <div class="container_12">

        <!-- social media links -->
        <ul class="social">
          <li>
            <a href="https://twitter.com/I3DCONF"><b>I3D</b> on Twitter</a>
          </li>
          <li>
            <a href="http://www.facebook.com/pages/I3D-Symposium-on-Interactive-3D-Graphics-and-Games/147772558570274"><b>I3D</b> on Facebook</a>
          </li>
          <li>
            <a href="https://plus.google.com/108443903002417824594/"><b>I3D</b> on Google+</a>
          </li>
        </ul>


      <!--grid_7 is a 7-wide cell for the main content-->
      <div id="main" class="grid_7">
