      </div> <!-- #main -->

      <!-- grid_3 is a 3-wide cell -->
      <div id="news" class="grid_3">
        <h4>Important Dates</h4>
        <ul><small>
          <li>Full paper submission deadline:<br>
          <del>Tue, Oct. 21, 2014</del></li>
          <li>Notification to authors:<br>
          <del>Mon, Dec. 8, 2014</del></li>
          <li>Camera-ready version of papers:<br>
          <del>Fri, Dec. 19, 2014</del></li>
          <li>Poster and demo submissions:<br>
          <del>Fri, Dec. 19, 2014</del></li>
          <li>Poster and demo notifications:<br>
          <del>Fri, Jan. 9, 2015</del></li>
          <li>Early registration deadline:<br>
          <del>Sat, Jan. 31, 2015</del></li>
          <li>Hotel booking deadline:<br>
          <del>Mon, Feb. 9, 2015</del></li>
          <li>Conference:<br>
          <del>Fri, Feb. 27 - Sun, Mar. 1, 2015</del></li>
        </small></ul>

        <p><b>Unless otherwise specified<br>
        <b>all deadlines are at<br>
        11:59pm PST.</b></p>

        <h4>Submission Website</h4>
        <ul class="unstyled">
          <li><a href="http://precisionconference.com/~i3d">http://precisionconference.com/~i3d</a></li>
        </ul>

        <h4>Registration Site</h4>
        <ul class="unstyled">
          <li><a href="https://www.regonline.com/i3d2015">http://www.regonline.com/i3d2015</a></li>
        </ul>

        <h4>Updates</h4>
        <ul><small>
          <li>Mar  9, 2015 - Keynote slides posted.</li>
          <li>Mar  1, 2015 - Awards posted.</li>
          <li>Feb  3, 2015 - Papers, posters, and program posted.</li>
          <li>Jan 28, 2015 - Industry speaker.</li>
          <li>Jan  6, 2015 - Hotel booking is now available.</li>
          <li>Dec 19, 2014 - Registration is now available.</li>
          <li>Dec  9, 2014 - Poster submission details and notification date.</li>
          <li>Dec  8, 2014 - Registration details.</li>
          <li>Nov 26, 2014 - Second keynote speaker.</li>
          <li>Oct 27, 2014 - First keynote speaker.</li>
          <li>Oct 10, 2014 - Submission system is open.</li>
          <li>Oct 10, 2014 - Posters information available.</li>
          <li>Sep 12, 2014 - The I3D 2015 website is live.</li>
        <small></ul>

        <h4>Sponsored by:</h4>
        <a href="http://www.siggraph.org"><img src="img/sponsor_acm_11.png"></a>
      </div> <!-- #news -->
    </div> <!-- .container -->


    <!-- start a new container for the footer -->
    <div id="footer" class="container_12">
    <div class="grid_6 prefix_2"> <!-- prefix_2 offsets the cell -->
        <p class="muted"><small>
          <a href="http://www.i3dsymposium.org">HOME</a> | &copy; 2005-2014
          Symposium Interactive 3D Graphics and Games
        </small></p>
      </div>
    </div>