
.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

.nav > li {
  margin-left: 0;
  font-size: 95%;
  color: #999;
  padding: 3px 10px;
}

.nav > li > a {
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  position:relative;
  margin: -3px -10px;
  padding: 3px 10px;
}

.nav > li.active,
.nav > li.active a,
.nav > li > a:hover {
  color: rgb(0, 68, 102); /* darker blue than body background */
  background-color: rgb(255, 153, 0); /* orange */
}

.subhead {
  margin-bottom: 0;
  padding-top: 17px; /* bump the text down from the top of the window */
  font-size: 18px;
  font-weight: 200;
}

#header {
  background-color: rgb(148, 191, 0); /* green */
  border-bottom: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  height: 81px; /* aligns the bottom border with the logo */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;

  img {
    max-width: 100%;
  }
}

#header-subtitle {
  margin-left: 400px; /* 400 px is the logo width */
  font-size: 16px;
  padding-left: 1em;
  padding-top: 18px;
  line-height: 18px;

  @include smaller-than(700px) {
    margin-left: 140px;
    margin-top: 72px;
    margin-bottom: 16px;
  }

  @include phone-screen {
    font-size: 12px;
  }

  @include smaller-than(400px)
  {
    margin-top: 18vw;
    margin-left: 35vw;
  }
}

/* flush-left the containers */
.container_12 {
  margin-left: 0;
  margin-right: 0;

}

ul.social {
  text-align: center;
  margin-left: 0;
  list-style: none;
}

ul.social > li {
  margin-top: -4px;
  margin-bottom: 3px;
}

ul.social > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

table#sponsors {
  width: 99%;
  border: 0px;
}


table#sponsors tr td{
  width: 33%;
}


ul.sponsors {
  text-align: left;
  margin-left: 0;
  list-style: none;
}

ul.sponsors > li {
    margin-left: 0;
    margin-bottom: 16px;
}

ul.sponsors img {
	max-width: 100%;
	height: auto;
}

#nav {
  padding-top: 140px; /* bump down content, very low for logo */
}

#main {
  padding-top: 20px; /* bump down content */
  /*padding-right: 25px; /* create some space from the border 
  border-right: 1px solid rgb(255, 255, 255);*/
}

#news {
  padding-top: 12px; /* bump down content */
  padding-left: 15px; /* create some space from the border */
  border-left: 1px solid rgb(255, 255, 255);
}



