---
---

@import '2024/media-queries';

@import '2024/reset';

@import '2024/base';

$max-page-width: 1440px;

$nav-height: 80px;


$medium-screen-size: 700px;
$large-screen-size: 970px;


header {
    background-color: white;
    position: relative;
    width: $max-page-width;
    clear: both;
    margin: 0 auto;

    box-sizing: border-box;
    padding-left: $main-horizontal-padding;
    padding-right: $main-horizontal-padding;

    img {
        height: $nav-height;
    }

    nav {
        float: right;
        right: 0;
        top: 0;
        max-height: $nav-height;
        font-size: 16px;
        ul {
            position: relative;
            list-style: none;
            li {
                float: left;
                margin: 0;
                padding: 30px 5px;

                a, a:hover, a:active, a:visited {
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 15px 10px;
                    margin: 0;
                }

                &:first-child {
                    padding-left: 0;
                    a, a:hover, a:active, a:visited {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    padding-right: 0;
                    a, a:hover, a:active, a:visited {
                        padding-right: 0;
                    }
                }

                &.active {
                    a, a:hover, a:active, a:visited {
                        color: $link;
                    }
                }
            }
        }
    }

    #page-title {
        padding: $main-vertical-padding $main-horizontal-padding;
        margin: 0px (-$main-horizontal-padding);
        margin-bottom: $main-vertical-padding;
        background: $bg-blue;
        background: linear-gradient(90deg, $bg-blue 0%, $bg-green 100%);
        color: white;
    }
}

footer {
    position: relative;
    width: $max-page-width;
    clear: both;
    margin: $main-vertical-padding auto 0;
    padding-bottom: 2*$main-vertical-padding; 

    box-sizing: border-box;
    padding-left: $main-horizontal-padding;
    padding-right: $main-horizontal-padding;

    #footer-logo {
        height: $nav-height;
    }

    #footer-copy {
        margin-top: $main-vertical-padding;
    }

    #footer-links {
        float: right;
        list-style: none;
        right: 0;
        top: 0;
        font-size: 16px;

        display: flex;
        width: 60%;

        &>ul {
            //float: left;
            //margin-left: 3em;
            list-style: none;

            flex: 1 1 50%;

            li {
                margin-left: 0;
                text-align: right;
            }
        }

        a, a:hover, a:active, a:visited {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
        }

    }
}

#main-wrapper {
    position: relative;
    width: $max-page-width;
    clear: both;
    margin: 0 auto;

    @each $tag in (div, p, h1, h2, h3, h4, h5, h6, ul, ol, section) {
        #main > #{$tag} {
            padding-left: $main-horizontal-padding;
            padding-right: $main-horizontal-padding;
        }
    }
    @each $tag in (img, table) {
        #main > #{$tag} {
            margin-left: $main-horizontal-padding;
            margin-right: $main-horizontal-padding;
        }
    }
    #main > section {
        margin-top: $main-vertical-padding;
        margin-bottom: $main-vertical-padding;
    }

    #main p {
        margin-top: 1em;
        margin-bottom: 1em;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

#index-highlight {
    padding: $main-vertical-padding 0;
    background: $bg-blue;
    background: linear-gradient(120deg, $bg-blue 0%, $bg-green 100%);
    color: white;

    .youtube-embed {
        margin: 0;
    }
}

#important-dates {
    h2 {
        margin-bottom: 0;
    }
    ul {
        columns: 3;
        column-fill: balance;
        list-style: none;
        li {
            font-weight: bold;
            margin: 0;
            padding-top: 1.5em;
            break-inside: avoid;

            &:first-child {
                margin-top: 0;
            }

            .date {
                display: block;
                color: $blue;
            }
        }
    }
}

#sponsors {
    margin-top: $main-vertical-padding;

    hr {
        margin-top: 2rem;

        &:first-child {
            margin-top: 0;
        }
    }

    ul.sponsors-list {
        position: relative;
        list-style: none;
        columns: 3;
        column-fill: balance;

        li {
            display: block;
            margin: 0;
            break-inside: avoid;

            a {
                display: inline-block;
                height: 100%;
                width: 100%;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

#contact-panel {
    margin-top: 2rem;
}

