---
---

@import '2024/media-queries';

@import '2024/reset';

@import '2024/base';

$max-page-width: 1440px;

$banner-width: 400px;
$banner-stripe-height: 80px;
$banner-stripe-pct: $banner-stripe-height / $banner-width * 100vw;

$subtitle-width: 300px;

$large-nav-width: 13%;
$large-nav-min-width: 150px;
$large-news-width: 250px;
$large-main-width: calc(100% - max(#{$large-nav-width}, #{$large-nav-min-width}) - #{$large-news-width});

$medium-main-width: calc(100% - max(#{$large-nav-width}, #{$large-nav-min-width}));

$medium-screen-size: 700px;
$large-screen-size: 970px;


header {
    background-color: white;
    position: relative;
    width: $max-page-width;
    clear: both;
    margin: 0 auto;

    box-sizing: border-box;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    img {
        height: 80px;
    }

    nav {
        float: right;
        right: 0;
        top: 0;
        ul {
            position: relative;
            list-style: none;
            li {
                float: left;
                margin: 0;
                padding: 30px 10px;

                a, a:hover, a:active, a:visited {
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 15px 5px;
                    margin: 0;
                }

                &:first-child {
                    padding-left: 0;
                    a, a:hover, a:active, a:visited {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    padding-right: 0;
                    a, a:hover, a:active, a:visited {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    #page-title {
        padding: 2em 0;
        background: $bg-blue;
        background: linear-gradient(90deg, $bg-blue 0%, $bg-green 100%);
        color: white;
    }
}

#main-wrapper {
    position: relative;
    width: $max-page-width;
    clear: both;
    margin: 0 auto;

    #main > div {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

#index-highlight {
    padding: 60px 0;
    background: $bg-blue;
    background: linear-gradient(120deg, $bg-blue 0%, $bg-green 100%);
    color: white;
}

.flex {
    display: flex;
}

.one-third {
   flex: 1 1 33.3%; 
}

.two-thirds {
   flex: 2 1 66.6%; 
}

.highlight-bg {
    background-color: $bg-soft;
    padding: 40px 0;
}

#important-dates {
    ul {
        columns: 3;
        list-style: none;
        li {
            font-weight: bold;
            padding: 1em 0;
            margin: 0;
            .date {
                display: block;
                color: $blue;
            }
        }
    }
}

