@media (max-width: 640px) {
  .container_12 {
    float: none;
    width: auto;
    margin-top: 4em;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    float: none;
    width: auto;
    margin-left: 0.625em; /* 16px x 0.625em = 10px */
    margin-right: 0.625em; /* 16px x 0.625em = 10px */
  }

  .container_12 .grid_3 {
    width: auto;
  }

  .container_12 .grid_6 {
    width: auto;
  }

  .container_12 .grid_9 {
    width: auto;
  }

  .container_12 .grid_12 {
    width: auto;
  }

  #news {
    border-left: none;
  }

}
